## DiscordCredentials
DiscordName=bot@email.com
DiscordPW=s3cretPW

#Owner Settings
OwnerID=XXXXXXXXXXXXXXXXXX

DefaultVoiceChannel=channelName

#Addon list goes here
ADDON=shrug
ADDON=onlineRadio
ADDON=cleverbot
